name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            extra-substituters = https://cache.iog.io
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build
        run: nix develop --command just build

      - name: Test
        run: nix develop --command just unit

      - name: Check formatting
        run: nix develop --command fourmolu -m check src test

      - name: Lint
        run: nix develop --command hlint src test
